
@{
    ViewData["Title"] = "Download";
}

<!-- Pricing Section -->
    <div class="w3-container w3-center" style="padding:128px 16px">


        <span class="w3-jumbo w3-text-white">@ViewBag.msg Descarga nuestro programa acá</span>
        
        <div class="w3-center">
            <div class="w3-row-padding" style="margin-top:64px">
                <div class="w3-third">
                    <br />
                </div>
                <div class="w3-third">
                    <ul class="w3-ul w3-white w3-hover-shadow">
                        <li class="w3-pink w3-xlarge w3-padding-48">Above Premier Desktop</li>
                        <li class="w3-padding-16">Peso <b>555 KB</b></li>

                        <li class="w3-light-grey w3-padding-24">
                            <a href="~/Instalador/AbovePremiere.rar" download="AbovePremiere.rar"><button class="w3-button w3-black w3-padding-large">Descargar</button> </a>
</li>
                    </ul>
                </div>
                <div class="w3-third">
                    <br />
                </div>

            </div>
        </div>
    </div>